body {
    color: rgb(0, 0, 0);
    background: rgb(205, 5, 5);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(3, 4, 5);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 111, 0);
}

.chamada {
    background: rgb(77, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}